$mainColor : #04D99D;
$secondColor : #012E40;
$thirdColor : #025373;
$navColor : #AABEC7;
$darkColor : #1D1D1D;
$textColor : #7A7A7A;
$lightColor : #F1F1F1;
$searchBg: #E4E4E4;
$searchBorder: #C5D7DF;
$cardText : #3D3D3D;
$categoryText : #9FB2BB;
$categoryIconBg : #032330;
$stateColor : #F94F5F;
$placeholderText : #2F4D5A;
$footerInputBorder : #164B60;